<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">

        <form action="/note/edit/<%= bottom._id %>" method="post">
            <div class="title">
                <input name="title" class="inputText" type="text" placeholder="Title goes here..." value=<%= title %>>

            </div>
            <div class="details">
                <textarea class="inputDetails" name="details" id="details" placeholder="Write your task details here"><%= bottom.desc %></textarea>

            </div>
    
            <div class="button">
                <button class="submit" type="submit">Update Note</button>

            </div>
    
        </form>
</body>
</html>