<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">

        <form action="/create" method="post">
            <div class="title">
                <input name="title" class="inputText" type="text" placeholder="Title goes here...">

            </div>
            <div class="details">
                <textarea class="inputDetails" name="details" id="details" placeholder="Write your task details here"></textarea>

            </div>
    
            <div class="button">
                <button class="submit" type="submit">Create Task</button>

            </div>
    
        </form>

        <div class="cards">

            <% if(data.length==0){%>
                <div>
                    No Existing Notes
                </div>
            <%} %>

            <% data.forEach(element => {%>

                <div class="card">
                    <div class="clicks">
                        <div class="edit">
                            <a href="/note/edit/<%= element._id %>">
                                <img src="/icons/edit.svg" alt="edit">
                            </a>
                        </div>
                        <div class="delete">
                            <form action="/note/delete/<%= element._id %>" method="post">
                                <button class="deletes" type="submit">
                                    <img src="/icons/delete.svg" alt="">
                                </button>
                            </form>
                        </div>

                    </div>
                    <div class="titlecard">
                        <%= element.title %>
                    </div>
                    <div class="descard">
                        <a href="/note/<%= element._id %>">Read More...</a>
                    </div>

                </div>
                

            <%}); %>



        </div>

    </div>

    

    
</body>
</html>