*{
    margin: 0;padding: 0;
    color: white;
}
.container{
    padding: 3rem;
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
    height: 30%;
}
.title,.details,.inputText,.inputDetails{
    width: 100%;
    border: 2px solid #2B2B2E;
    border-radius: 10px;
    background-color: #2B2B2E;
    box-sizing: border-box;
}
.title input{
    height: 2rem;
    padding: 10px;
}
#details{
    height: 7rem;
    padding: 10px;
    max-width: 100%;
    min-height: 100%;
}
.submit{  
    background-color: rgb(19, 110, 214);
    padding: 8px;
    border: 1px solid rgb(19, 110, 214);
    border-radius: 10px;
}
.cards{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.card{
    position: relative;
    min-width: 15rem;
    max-width: 20rem;
    min-height: 5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2B2B2E;
    padding: 15px;
    box-sizing: border-box;
}
.titlecard,.head{
    font-size: 2.2rem;
}
a{
    color: rgb(19, 110, 214);
    text-decoration: none;
}
.head{
    font-size: 3rem;
}
.bottom{
    font-size: 1.5rem;
}
.clicks{
    position: absolute;
    top:0px;
    right: 0px;
    display: flex;
}
.edit img{
    width: 1.1rem;
    cursor: pointer;
}
.delete form img{
    width: 1.0rem;
    cursor: pointer;
}
.deletes{
    background-color: #2B2B2E;
    border:0px
} 